<div id="main-container">
    <form id="order-form" [formGroup]="this.orderForm" (ngSubmit)="createOrder()">

        <div>
            <label for="name">Tell us your name: </label>
            <input id="name" type="text" formControlName="name" required="true">
        </div>

        <br>

        <p>Select your Bread:</p>
        <div *ngFor=" let bread of data2.breads;">
            <label for="{{bread}}"> {{bread}} </label>
            <input id="{{bread}}" name="breads" type="radio" value="{{bread}}" formControlName="breads" required="true">
        </div>
        <br>

        <p>Pick one, none, or multiple meats:</p>
        <div *ngFor="let meat of this.data2.meats">
            <label for="{{meat}}">{{meat}}</label>
            <input id='{{meat}}' type="checkbox" name="meats" value="{{meat}}" formArrayName="meats"
                (change)="handleSelections($event)">
        </div>
        <br>

        <p>Cheese, cheeses, or no cheese?</p>
        <div formArrayName="cheeses">
            <div *ngFor=" let cheese of this.data2.cheeses;">
                <label for="cheese"> {{cheese}} </label>
                <input id="{{cheese}}" name="cheeses" type="checkbox" value={{cheese}}
                    (change)="handleSelections($event)">
            </div>
        </div>
        <br>

        <p>Add vegetables if you like:</p>
        <div *ngFor="let veg of this.data2.vegetables">
            <label for="{{veg}}">{{veg}}</label>
            <input id='{{veg}}' type="checkbox" name="vegetables" value={{veg}} (change)="handleSelections($event)">
        </div>
        <br>

        <p>Add condiments, or not:</p>
        <div *ngFor="let condiment of this.data2.condiments">
            <label for="{{condiment}}">{{condiment}}</label>
            <input id='{{condiment}}' type="checkbox" name="condiments" value={{condiment}}
                (change)="handleSelections($event)">
        </div>
        <br>

        <button type="submit" onclick="">Submit Order</button>

    </form>

    <div id="sandwich-display">
        <app-sandwhich-display [order]="this.orderForm.controls"></app-sandwhich-display>
    </div>
</div>